@font-face {
    font-family: "SF Display";
    font-weight: 500;
    src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
  }
* {
    font-family: "SF Display";
}
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
nav {
    height: 40px;
    background-color: rgba(223, 223, 223, 0.88);
    width: 100%;
    top: 0;
    position: fixed;
    border:none;
}
nav > ul {
    margin: 0px;
    list-style-type: none;
}
#aboutMe , #contactMe {
    display: inline;
    font-size: 20px;
    margin-top: 6px;
    font-weight: bold;
}
#aboutMe {
    float: left;
}
#aboutMe > li > a {
    background-color: rgba(223, 223, 223, 0.418);
}
#contactMe {
    float: right;
    margin-right: 50px;
}
header {
    background-image: linear-gradient(to right,white,rgb(233, 233, 233),rgb(223, 223, 223));
    width: 100%;
    border-radius: 10px;
    padding-top: 20px;
}
#headerContainer {
    display: flex;
    flex-direction: row; 
    padding-top: 20px;
    justify-content: space-around;
    width:80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#headerText  {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    bottom: 30px;
    flex-direction: column;
}
#headerText > h2 {
    font-size: 22px;
    margin-top: 0px;
}
#headerText > h1 {
    font-size: 32px;
    margin-bottom: 5px;
}
#headerContainer > img {
    height: 220px;  
    float: right;
}
#icons {
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;             
    justify-content: space-between;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
#github > a > img, #email > a > img, #linkedin > a > img {
    height:25px;
}
#quizApp, #project2, #project3 {
    background-image: linear-gradient(to right,white,rgb(233, 233, 233),rgb(223, 223, 223));
    height: max-content;
    display: flex;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    flex-direction: column;
}
#projectText1, #projectText2, #projectText3, #projectImg1, #projectImg2, #projectImg3 {
    margin-top: auto;
    margin-bottom: auto;
}
#projectText1 > a, #projectText2 > a, #projectText3 > a  {
    padding-right: 30px;
    padding-left: 20px;
}
#projectImg1, #projectImg2, #projectImg3 {
    text-align: center;
    padding-top: 10px;
}
#projectImg1 > img, #projectImg2 > img, #projectImg3 > img {
    width: 100%;
    min-height: 170px;
    min-width: 220px;
    float: none;   
    border-radius: 0px 0px 10px 10px;
}
#projectText1 > h3, #projectText2 > h3, #projectText3 > h3 {
    font-size: 20px;
    padding-left: 20px;
}
#projectText1 > p, #projectText2 > p, #projectText3 > p {  
    width:90%;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 20px;
}
#aboutMeText , #contactMeText {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,white,rgb(233, 233, 233),rgb(223, 223, 223));
}
#contactMeText > p, #aboutMeText > p {
    width: 80%; 
    font-size: 18px;
    padding-left: 20px;
}
#contactMeText > h3, #aboutMeText > h3 {
    padding-left: 20px;
}
#contactMeText > p{
    line-height: 20px;
}
html {
    padding-bottom: 30px;
}
header, #quizApp, #project2, #project3, #aboutMeText, #contactMeText {
    border-style: solid;
    border-color: rgb(223, 223, 223);
    border-radius: 10px;
    border-width: 1px;
}
@media only screen and (min-width: 600px) {
    #headerContainer > img {
        height: 500px;  
    }
    #headerText > h2 {  
        font-size: 35px;
    }
    #headerText > h1 {
        font-size: 45px;
    }
    .smallIcon {
        max-height:30px;
    }
    #quizApp, #project2, #project3 {
        flex-direction: row;
    }  
    #projectImg1, #projectImg2, #projectImg3 {  
        float: right;
        padding-top: 0px;
    }
    #projectImg1 > img, #projectImg2 > img, #projectImg3 > img {
        border-radius: 0px 10px 10px 0px;
        width:50%;
        float: right;    
    }
    #contactMeText > p, #aboutMeText > p {
        width: 60%;   
    }  
}
.iconExpand {
    overflow:hidden;
    transition:max-height 0.3s ease-out;
    height:auto;
    max-height:40px;
}